.highlighted-values {
  font-weight: bold;
  color: #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.fired-rules {
  background-color: #008055;
}
.failed-assert {
  background-color: #cc334d;
}
.navigate-error {
  height: 30px;
}
